.Search {
  background-color: transparent !important;
  width: 80%;
  margin: auto;
}
.Grid {
  background-color: white;
  font-size: 5px;
}
.Card div {
  display: inline-block;
  font-size: 12px;
  margin: 5px;
  width: 48%;
  height: 130px;
  background-color: white;
  border-radius: 5%;
  position: relative;
}
.Card div img {
  position: absolute;
  top: 14px;
  right: 0;
}
.Card div span {
  position: absolute;
  top: 17px;
  left: 8px;
}
